*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar{
    height: 100vh;
}

.button-wrapper{
    padding: 10px;
}

.header{
    width: 100%;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #D7C7F4;
}

.past-conversation-button{
    border: none;
    outline: none;
    width: 90%;
    
    background-color: #D7C7F4;
    padding: 1rem;
    border-radius: 1rem;
}

.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}